/*****************************BORDERS*******************************/

.border-slate-50 {
  border: 1px solid $slate-50;
}

.border {
  border: 1px solid transparent;
}

.border-red {
  border: 3px solid red;
}

.border-orange {
  border: 3px solid orange;
}

.border-green {
  border: 3px solid green;
}

.border-pink {
  border: 3px solid pink;
}

.border-slate-50 {
  border-color: $slate-50;
}

.border-slate-200 {
  border-color: $slate-200;
}

.border-slate-300 {
  border-color: $slate-300;
}

.border-stone-300 {
  border-color: $stone-300;
}

.border-slate-400 {
  border-color: $slate-400;
}

.border-stone-300 {
  border-color: $stone-300;
}

.border-b-slate-300 {
  border-bottom: 1px solid $slate-300;
}

.border-b-slate-200 {
  border-bottom: 1px solid $slate-200;
}

.border-b-stone-300 {
  border-bottom: 1px solid $stone-300;
}

.border-b-slate-500 {
  border-bottom: 1px solid $slate-500;
}

.border-t-slate-500 {
  border-top: 1px solid $slate-500;
}

.br-3 {
  border-radius: 3px;
}

.br-5 {
  border-radius: 5px;
}

.br-50per {
  border-radius: 50%;
}
