.base-input {
  position: relative;
  font-size: 1.2rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;

  input {
    appearance: none;
    padding: 1rem 2rem;
    border-radius: 3px;
    width: 100%;
    outline: none;
    font-size: 1.2rem;
    border: 2px solid $slate-300;
    transition: 0.3s ease;
    z-index: 1;

    &:focus,
    &.dirty {
      border-color: $slate-400;
      transition-delay: 0.1s;
    }

    &:focus + .placeholder,
    &.dirty + .placeholder {
      top: 1rem;
      font-size: 1rem;
      background-color: #ffffff;
    }
  }

  .placeholder {
    position: absolute;
    left: 1.6rem;
    top: calc(50% + 0.5rem);
    transform: translateY(-50%);
    color: $slate-400;
    padding: 0 0.5rem;
    transition: 0.3s ease;
  }

  .currency {
    position: absolute;
    left: 1.2rem;
    top: calc(50% - 0.1rem);
    font-size: 1rem;
  }
}

.base-select {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  color: $slate-800;

  select {
    width: 100%;
    min-height: 3.5rem;
    // background-color: $slate-200;
    border-radius: 3px;
    border: 2px solid $slate-400;
    padding: 0 2rem;
    cursor: pointer;
    margin-top: 0.5rem;
    appearance: none;
    outline: none;
  }

  &::after {
    content: '';
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent;
    border-top-color: $slate-800;
    display: inline-block;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    border-radius: 0.2rem;
  }

  ul {
    background-color: $slate-500;
    position: absolute;
    width: 96%;
    left: 2%;
    top: 40%;
    border-radius: 3px;
    z-index: 1;

    li {
      padding: 0.5rem 1rem;
      color: $slate-50;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  // position: relative;
  // --size: 0.5em;
  // border-radius: 0.25rem;
  // height: 4.5rem;
  // border: 1px solid $slate-200;
  // background-color: white;
  // overflow: hidden;
  // color: $slate-800;

  // width: 100%;

  // box-shadow: 0 4px 3px rgb(0 0 0 / 0.07), 0 2px 2px rgb(0 0 0 / 0.06);

  // label {
  //   position: absolute;
  //   top: 0.2rem;
  //   left: 2rem;
  //   font-size: 80%;
  //   color: lighten($color: $color-primary, $amount: 50);
  // }

  // select {
  //   padding: 2rem 0.75rem 1rem 2rem;

  //   appearance: none;
  //   width: 100%;
  //   height: 100%;
  //   background-color: transparent;
  //   cursor: pointer;
  //   border: none;
  //   z-index: 999;

  //   &.centered {
  //     padding: 1rem 0.75rem 1rem 2rem;
  //   }
  // }

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   pointer-events: none;
  //   background-color: transparent;
  //   width: 4em;
  // }
  // &::after {
  //   position: absolute;
  //   content: '';
  //   width: var(--size);
  //   height: 0;
  //   height: 0;
  //   pointer-events: none;
  //   box-sizing: border-box;
  //   right: 2rem;
  //   top: 50%;
  //   transform: translate(-50%, -30%);
  //   border: var(--size) solid transparent;
  //   border-top: var(--size) solid $slate-400;
  //   pointer-events: none;
  // }
}

.base-selects {
  position: relative;
  --size: 0.5em;
  border-radius: 0.25rem;
  height: 4.5rem;
  border: 1px solid $slate-200;
  background-color: white;
  overflow: hidden;

  width: 100%;

  box-shadow: 0 4px 3px rgb(0 0 0 / 0.07), 0 2px 2px rgb(0 0 0 / 0.06);

  label {
    position: absolute;
    top: 0.2rem;
    left: 2rem;
    font-size: 80%;
    color: lighten($color: $color-primary, $amount: 50);
  }

  select {
    padding: 2rem 0.75rem 1rem 2rem;

    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &.centered {
      padding: 1rem 0.75rem 1rem 2rem;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: transparent;
    width: 4em;
  }
  &::after {
    position: absolute;
    content: '';
    width: var(--size);
    height: 0;
    height: 0;
    pointer-events: none;
    box-sizing: border-box;
    right: 2rem;
    top: 50%;
    transform: translate(-50%, -30%);
    border: var(--size) solid transparent;
    border-top: var(--size) solid $slate-400;
    pointer-events: none;
  }
}
