/*****************************SIZING*******************************/

.w-full {
  width: 100%;
}

.w-996 {
  width: 996px;
}

.w-1 {
  width: 1rem;
}

.w-2 {
  width: 2rem;
}

.w-3 {
  width: 3rem;
}

.w-4 {
  width: 4rem;
}

.w-5 {
  width: 5rem;
}

.w-6 {
  width: 6rem;
}

.w-10 {
  width: 10rem;
}

.w-32 {
  width: 32rem;
}

.max-w-130 {
  max-width: 130rem;
}

.h-1 {
  height: 1rem;
}

.h-2 {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.h-4 {
  height: 4rem;
}

.h-5 {
  height: 5rem;
}

.h-6 {
  height: 6rem;
}

.h-10 {
  width: 10rem;
}

.h-full {
  height: 100%;
}

.h-5 {
  height: 5rem;
}

.h-6 {
  height: 6rem;
}

.h-30 {
  height: 30rem;
}

.h-60 {
  height: 60rem;
}

.h-60vh {
  height: 60vh;
}

.h-100vh {
  height: 100vh;
}

.min-h-40 {
  min-height: 40rem;
}

.min-h-56 {
  min-height: 56rem;
}

.min-h-full {
  min-height: 100%;
}

.min-w-8 {
  min-width: 8rem;
}

.min-w-9 {
  min-width: 9rem;
}

.min-w-40 {
  min-width: 40rem;
}

.max-w-8 {
  min-width: 8rem;
}

.max-w-10 {
  min-width: 10rem;
}

.max-w-11 {
  min-width: 11rem;
}

.min-w-12 {
  min-width: 12rem;
}

.min-w-16 {
  min-width: 16rem;
}

.min-w-24 {
  min-width: 24rem;
}

.max-w-60 {
  max-width: 60rem;
}

.max-w-20 {
  max-width: 20rem;
}

.max-w-40 {
  max-width: 40rem;
}

.h-50-percent {
  height: 50%;
}

.w-50-percent {
  width: 50%;
}

.min-w-sm {
  min-width: 64rem;
}

.max-w-100 {
  max-width: 100rem;
}

.w-15p {
  width: 15px;
}

.h-15p {
  height: 15px;
}

.w-12p {
  width: 12px;
}

.h-12p {
  height: 12px;
}
