/*****************************SPACING*******************************/

.p1 {
	padding: 1rem;
}

.p2 {
	padding: 2rem;
}

.p3 {
	padding: 3rem;
}

.p4 {
	padding: 4rem;
}

.px1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.px2 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.px3 {
	padding-left: 3rem;
	padding-right: 3rem;
}

.py1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.py05 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.py2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.py3 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.pt1 {
	padding-top: 1rem;
}

.pb4 {
	padding-bottom: 4rem;
}

.mt-1 {
	margin-top: -1px;
}

.ml-1 {
	margin-left: -1px;
}

.my1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.mt4 {
	margin-top: 4rem;
}

.my4 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.mb2 {
	margin-bottom: 2rem;
}

.ml1 {
	margin-left: 1rem;
}
