table {
  border-collapse: collapse;
  // border: 1px solid $slate-400;
  width: 100%;

  th {
    padding: 2rem 1rem;
    text-align: center;
  }
  td {
    text-align: center;
    // border: 1px solid $slate-300;
    padding: 0.5rem;
  }
}

.table {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  // gap: 0.2rem;

  // padding: 1rem;
  // box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.141), 0 1px 3px rgba(0, 0, 0, 0.122);

  &.shopping-bag {
    // box-shadow: none;
    .table__header {
      // background-color: $stone-300;
      // box-shadow: none;
    }

    .row {
      border: none;
    }
  }

  &__header {
    // background-color: $slate-200;
    // padding: 1rem 2rem;
    // color:$slate-900;
    // box-shadow: 0 4px 3px rgb(0 0 0 / 0.07), 0 2px 2px rgb(0 0 0 / 0.06);
    // box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.141), 0 1px 3px rgba(0, 0, 0, 0.122);
  }

  &__body {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    // background-color: white;
    // padding: 2rem;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    // align-items: center;
    // background-color: transparent;
    // gap: 1rem;
    // border: 1px solid $slate-200;
    // padding: 1rem;
  }

  // .actions {
  // 	position: relative;

  // 	.btn {
  // 		// padding: 0.3rem;
  // 		border: none;

  // 		&.active {
  // 			border: 2px solid $slate-400;
  // 			border-radius: 5px;
  // 		}
  // 	}

  // 	.menu {
  // 		position: absolute;
  // 		top: -25%;
  // 		right: 70%;
  // 		border: 1px solid $slate-300;
  // 		padding: 1rem;
  // 		background-color: white;
  // 		font-size: 1.3rem;
  // 		font-weight: 600;
  // 		display: flex;
  // 		flex-direction: column;
  // 		gap: 0.5rem;

  // 		.cancel {
  // 			color: $red-500;
  // 		}
  // 	}
  // }

  &.admin-categories .row {
    .th,
    .td {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      // border: 1px solid red;

      &:nth-of-type(1) {
        grid-column: 1 / 6;
      }
      &:nth-of-type(2) {
        grid-column: 6 / 12;
      }
      &:nth-of-type(3) {
        grid-column: 12 / 20;
      }
      &:nth-of-type(4) {
        grid-column: 20/ 25;
        justify-self: flex-end;
      }
    }
  }

  &.admin-products .row {
    .th,
    .td {
      // width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      // border: 1px solid red;
      &:nth-of-type(1) {
        grid-column: 1 / 13;
      }
      &:nth-of-type(2) {
        grid-column: 13/ 16;
      }
      &:nth-of-type(3) {
        grid-column: 16/ 18;
      }
      &:nth-of-type(4) {
        grid-column: 18/ 22;
      }
      &:nth-of-type(5) {
        grid-column: 22/ 25;
        justify-self: flex-end;
      }
    }
  }

  &.admin-product-attributes .row {
    .th,
    .td {
      // width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      // border: 1px solid red;
      &:nth-of-type(1) {
        grid-column: 1 / 2;
        justify-self: center;
      }
      &:nth-of-type(2) {
        grid-column: 2 / 6;
      }
      &:nth-of-type(3) {
        grid-column: 6/ 8;
      }
      &:nth-of-type(4) {
        grid-column: 8/ 10;
      }
      &:nth-of-type(5) {
        grid-column: 10/ 14;
      }
      &:nth-of-type(6) {
        grid-column: 14 / 22;
        justify-self: stretch;
        // border:1px solid green;
      }
      &:nth-of-type(7) {
        grid-column: 22/ 25;
        justify-self: end;
      }
    }
  }

  &.admin-product-variants .row {
    .th,
    .td {
      // width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      // border: 1px solid red;
      &:nth-of-type(1) {
        grid-column: 1 / 2;
      }
      &:nth-of-type(2) {
        grid-column: 2 / 4;
      }
      &:nth-of-type(3) {
        grid-column: 4 / 11;
        justify-self: start;
      }
      &:nth-of-type(4) {
        grid-column: 11/ 13;
      }
      &:nth-of-type(5) {
        grid-column: 13/ 15;
      }
      &:nth-of-type(6) {
        grid-column: 15/ 17;
      }
      &:nth-of-type(7) {
        grid-column: 17/ 19;
      }
      &:nth-of-type(8) {
        grid-column: 19/ 22;
      }
      &:nth-of-type(9) {
        grid-column: 22/ 25;
        justify-self: end;
      }
    }
  }

  &.checkout-product-list .row {
    .th,
    .td {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      &:nth-of-type(1) {
        grid-column: 1 / 10;
        justify-content: flex-start;
      }
      &:nth-of-type(2) {
        grid-column: 10 / 14;
      }
      &:nth-of-type(3) {
        grid-column: 14 / 18;
      }
      &:nth-of-type(4) {
        grid-column: 18/ 23;
      }
      &:nth-of-type(5) {
        grid-column: 23/ 25;
      }
    }
  }

  &.shipping-shopping-bag .row {
    .th,
    .td {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      // gap: 1rem;
      // border: 1px solid red;
      &:nth-of-type(1) {
        grid-column: 1 / 14;
        justify-content: flex-start;
      }
      &:nth-of-type(2) {
        grid-column: 14 / 18;
      }
      &:nth-of-type(3) {
        grid-column: 18 / 25;
      }
    }
  }
}

.admin-attributes .table .row {
  .th,
  .td {
    &:nth-of-type(1) {
      grid-column: 1 / 6;
    }
    &:nth-of-type(2) {
      grid-column: 6/ 22;
    }
    &:nth-of-type(3) {
      grid-column: 22/ 25;
      justify-self: flex-end;
    }
  }
}

// .table__body {
//   .row {
//     display: grid;
//     grid-template-columns: repeat(24, 1fr);
//     // padding:2rem;
//     background-color: transparent;
//     // background-color: $slate-200;
//     gap: 0.5rem;
//     // margin: 0;
//     align-items: center;

//     .th,
//     .td {
//       font-size: 1rem;
//       color: red;
//       &:nth-of-type(1) {
//         grid-column: 1 / 5;
//       }
//       &:nth-of-type(2) {
//         grid-column: 5 / 9;
//       }
//       &:nth-of-type(3) {
//         grid-column: 9/ 22;
//       }
//       &:nth-of-type(4) {
//         grid-column: 22/ 25;
//         justify-self: flex-end;
//       }
//     }
//   }
// }
