@import 'flex';
@import 'sizing';
@import 'spacing';
@import 'layout';
@import 'typography';
@import 'borders';
@import 'backgrounds';
@import 'cursors';
@import 'fill';
@import 'misc';
@import 'transforms';

[id] {
  scroll-margin-top: 7rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  background-color: $slate-900;
  opacity: 0.7;
  z-index: 9;

  &-white {
    background-color: white;
    opacity: 0.9;
  }
}

.btn {
  display: flex;
  align-items: center;
  // justify-content: center;
  // gap: 1rem;
  background-color: transparent;
  border: 1px solid transparent;
  color: inherit;
  text-transform: uppercase;
  // padding: 1rem 2rem;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $slate-50;
    color: $slate-800;
  }

  &__pill {
    border-radius: 5rem;
  }

  &__primary {
    background-color: $slate-800;
    color: $slate-50;

    &:hover {
      background-color: $slate-600;
      color: $slate-50;
    }

    svg {
      fill: $slate-50;
    }
  }

  &__secondary {
    background-color: transparent;
    color: $slate-800;
    border: 1px solid $slate-500;
    &:hover {
      background-color: $slate-300;
    }
  }

  &:disabled {
    background-color: $slate-400;
    cursor: not-allowed;
  }

  &__close {
    border: 1px solid transparent;
    border-radius: 5px;
    // padding: 1rem;

    &:hover {
      border: 1px solid $stone-400;
      background-color: $stone-200;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__checkout {
    // border-radius: 5px;
    background-color: $green-700;
    color: $slate-50;

    svg {
      fill: $slate-50;
    }
    // padding: 1rem 3rem;
    // font-size: 1.4rem;
    // padding: 1.5rem;
  }

  &__hero {
    background-color: $slate-50;
    border-radius: 5px;
    // padding: 1rem 3rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    span {
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }

  &__quantity-selector {
    border-radius: 3px;
    background-color: $green-700;
    color: $slate-50;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border: none;

    &:hover {
      background-color: $green-600;
      color: $slate-50;
    }

    svg {
      fill: $slate-50;
    }
  }

  &__image-select {
    display: flex;
    gap: 1rem;
    border-radius: 5px;
    background-color: $slate-200;
    font-size: 1.2rem;
    padding: 0.25rem 2rem;

    svg {
      fill: $slate-800;
    }
  }

  &-heading {
    background-color: $slate-800;
    color: white;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    gap: 0.3rem;

    &:hover {
      background-color: $slate-600;
    }
  }
}

.link {
  color: $yellow-700;
  display: flex;
  align-items: center;
  gap: 1rem;

  svg {
    fill: $yellow-700;
  }
}

.admin-link {
  color: $slate-500;
  display: flex;
  align-items: center;
  gap: 1rem;

  &:hover {
    color: $stone-400;

    svg {
      fill: $stone-400;
    }
  }

  svg {
    fill: $slate-500;
  }
}

.admin-section-header {
  // margin-bottom: 2rem;
  // text-transform: uppercase;
  // border-bottom: 1px solid $stone-300;
  // padding-bottom: 0.5rem;
  // display: inline-block;
  // font-weight: 500;
  // font-size: 1.4rem;
  // margin-bottom: 1rem;
}

.media-selector {
  position: fixed;
  inset: 0;
  background-color: $slate-200;
  z-index: 9999;
  // fixed top-0 left-0 w-full bg-slate-600
}

// .thumb,
// .img {
// 	img {
// 		max-width: 100%;
// 		object-fit: contain;
// 	}
// }

.shadow-md {
  box-shadow: 0 4px 3px rgb(0 0 0 / 0.07), 0 2px 2px rgb(0 0 0 / 0.06);
}

// .shadow-lg {
//   box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.141), 0 1px 3px rgba(0, 0, 0, 0.122);
// }

.shadow-5 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px rgba(0, 0, 0, 0.141), 0 1px 14px rgba(0, 0, 0, 0.122);
}

.shadow-2 {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.141), 0 1px 3px rgba(0, 0, 0, 0.122);
}

// .image-gallery {
//   background-color: white;
//   border-radius: 5px;
//   padding: 2rem 2rem;
